button {
    background: none;
    border: 2px solid orange;
    color: orange;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

button:hover {
    border-color: yellow;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-10px);
    cursor: pointer;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}